@{
    ViewData["Title"] = "Test task WebAPI";
}

<div class="text-center">
    <h1 class="display-4">Test task WebAPI</h1>
    <p><a">If you're here, the terminal is already running and the API is also available</a>.</p>
</div>
